#calijumbo{
    background-image: url("http://courses.washington.edu/bimd233/midtermz8bx/images/ca_jumbo.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#utahjumbo{
    background-image: url("http://courses.washington.edu/bimd233/midtermz8bx/images/ut_jumbo.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#colojumbo{
    background-image: url("http://courses.washington.edu/bimd233/midtermz8bx/images/co_jumbo.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
.title{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 270px;
}
.c2 {
    border: 1px solid black;
}

.innerclass {
    margin: 10px;
    padding: 10px;
    background: #bcc2c5;
    text-align: center;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.rowimg{
    width:100%;
    height:140px; 
}
.footerimg{
    width:80%;
    height:140px; 
}
#footr{
    background: #bcc2c5;
}